* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #4d80a7;
    margin: 0;
    padding: 0;
}

:root {
    background: #f6faf7;
  }

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    color: #364f6b !important;
}

h2 {
    font-size: 36px;
    color: #364f6b;
    margin-bottom: 20px;
}

p {
    color: #121212;
    line-height: 1.6;
}

a.btn-primary {
    background-color: #7ec6fa;
    border-color: #7ec6fa;
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

a.btn-primary:hover {
    background-color: #fc5185;
    border-color: #fc5185;
}

footer {
    background-color: #121212;
}

footer .container {
    color: #fff;
}

#copyright {
    text-align: center;
    padding: 10px;
    background-color: #7ec6fa;
    color: #fff;
}
